/* bg body */
.bg_navbar_but{
    background: #03c03c;
    color: #ffffff;
}

.bg_jkh{
    background: #177245;
    color: #ffffff;
}

.bg_navlink{
    justify-content:space-around;
    background: #03c03c;
    color: #ffffff;
}

.bg_body{
    background: #808080;
    color: #ffffff;
}

.bg_button {
    background: #03c03c;
    color: #ffffff;
    width: 190px;
    height: 49px;
    position: absolute;
}

/* bg registration */

.bg_regdiv{
    justify-content:space-around;
}

.bg_form{
    background: #03c03c;
    border: 3px solid #177245;
    padding-left: 4px;
    position: absolute;
    padding-right: 4px;
}

.bg_regbut{
    background: #177245;
    color: #ffffff;
}

.bg_regbut2{
    background: #177245;
    color: #ffffff;
}
