{%extends 'page.html'%}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/reports_stage2.css' %}">
{% endblock %}

{%block content%}

<div class="container">
    <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}

        <div class="form-group">

            <label for="report_name">
            <h1 class="form__title">Новая работа</h1>
            </label>

            <p class="input__name">{{ form.as_p }}</p>
            

            <div class="btn_work">
    
                <button type="submit" class="btn_work_link">Создать</button>
                
            </div>
    
        </div>
    </form>
</div>

{%endblock content%}
