{% extends 'page.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/reports_stage2.css'%}">
{% endblock %}

{% block content %} 

<div class="container">

    <h1 class="user__title">Пользователи</h1>

    {% for el in users %} 
        <div class="row row__center">

            <div class="col">

                <div class="alert danger_bg" role="alert">

                    <h4 class="alert-heading">{{ el.username }}</h4>

                    <p class="alert__email">{{ el.email }}</p>

                    <p class="alert__worktype">{{ el.work_type }}</p>

                    <div class="create__link">
                        <a href="{% url 'user_add' el.pk %}" class = 'create__btn'>Изменить</a>
                    </div>
               
                </div>
            </div>
        </div>
    {% endfor %}
    <nav>
        <ul class="pagination justify-content-center">
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class = 'page-item disabled'><a class="page-link" href="#" tabindex="-1">{{ p }}</a></li>
            {%elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>
    </nav>
</div> 
{%endblock content%}
